.card-body{
	background-image: url("/templates/4884841.jpg") !important;
	border-radius: 5%;
	border: solid black 5px !important;
}
.btn{
	box-shadow: 5px 10px #888888 !important;
	border: solid black 2px;
}
.stats{
	display: inline-block !important;
} 